@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

@import "tailwindcss";

/* Custom Tailwind utility class */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
